In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime

In [10]:
#import manual data
manual_readings = pd.read_csv('groundwater_manual_readings.csv')

#find the corresponding compensated level logger file for each row of the manual data
for index, row in manual_readings.iterrows():      #iterate through manual_reading rows
    well_id = row['well_id']
    filename = None
    for f in os.listdir('wells'):                  #iterate through well files
        if not f.startswith('.'):
            if well_id in f:                       #find right file
                filename = f
                break
    if filename == None:
        continue
    logger = pd.read_csv('wells/' + filename, encoding='ISO-8859-1')  #reading the levellogger csv
    logger['timestamp'] = logger['DT']    
    
    #round timestamp to nearest 10 minute interval 
    time = row['timestamp']
    time = pd.to_datetime(time)
    discard = datetime.timedelta(minutes=time.minute % 10, seconds=time.second, microseconds=time.microsecond)
    time -= discard
    if discard >= datetime.timedelta(minutes=5):
        time += datetime.timedelta(minutes=10)
        
    #find levellogger row that corresponds to the correct timestamp
    matching_row = logger.loc[logger['timestamp'] == time]
    print(time)
    print(logger['timestamp'])
    print(matching_row)
    logger_at_time = matching_row.loc[:,'Compensated Level']    #logger level at the correct time
    manual = row['ground_to_water']              #manual level at time, make positive
    manual = manual * -1
        
    logger['delta'] = -1 * (logger['Compensated Level'] - logger_at_time)     #make delta column
    logger['Relative to Ground'] = logger['delta'] + manual                   #make rel to ground column
        
    logger.to_csv('./Relative to Ground/'+ 'rel_to_ground_'+f, encoding='ISO-8859-1')

2018-06-01 07:50:00
0        2018-07-17 18:20:00
1        2018-07-17 18:30:00
2        2018-07-17 18:40:00
3        2018-07-17 18:50:00
4        2018-07-17 19:00:00
                ...
19995    2019-10-20 13:50:00
19996    2019-10-20 14:00:00
19997    2019-10-20 14:10:00
19998    2019-10-20 14:20:00
19999    2019-10-20 14:30:00
Name: timestamp, Length: 20000, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-05-31 08:40:00
0        2018-07-17 17:50:00
1        2018-07-17 18:00:00
2        2018-07-17 18:10:00
3        2018-07-17 18:20:00
4        2018-07-17 18:30:00
                ...
13136    2018-10-21 19:10:00
13137    2018-10-21 19:20:00
13138    2018-10-21 19:30:00
13139    2018-10-21 19:40:00
13140    2018-10-21 19:50:00
Name: timestamp, Length: 13141, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 08:00:00
0       2018-07-17 18:50:00
1       2018-07-17 19:00:00
2       2018-07-17 19:10:00
3       2018-07-17 19:20:00
4       2018-07-17 19:30:00
               ...
1084    2018-07-25 07:30:00
1085    2018-07-25 07:40:00
1086    2018-07-25 07:50:00
1087    2018-07-25 08:00:00
1088    2018-07-25 08:10:00
Name: timestamp, Length: 1089, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2019-07-06 08:40:00
0       2019-07-26 13:20:00
1       2019-07-26 13:30:00
2       2019-07-26 13:40:00
3       2019-07-26 13:50:00
4       2019-07-26 14:00:00
               ...
5585    2019-09-03 08:10:00
5586    2019-09-03 08:20:00
5587    2019-09-03 08:30:00
5588    2019-09-03 08:40:00
5589    2019-09-03 08:50:00
Name: timestamp, Length: 5590, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 06:40:00
0      2018-08-10 06:50:00
1      2018-08-10 07:00:00
2      2018-08-10 07:10:00
3      2018-08-10 07:20:00
4      2018-08-10 07:30:00
              ...
896    2018-08-16 12:10:00
897    2018-08-16 12:20:00
898    2018-08-16 12:30:00
899    2018-08-16 12:40:00
900    2018-08-16 12:50:00
Name: timestamp, Length: 901, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-05-31 08:30:00
0        2018-07-27 16:50:00
1        2018-07-27 17:00:00
2        2018-07-27 17:10:00
3        2018-07-27 17:20:00
4        2018-07-27 17:30:00
                ...
16045    2018-11-18 13:40:00
16046    2018-11-18 13:50:00
16047    2018-11-18 14:00:00
16048    2018-11-18 14:10:00
16049    2018-11-18 14:20:00
Name: timestamp, Length: 16050, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 06:40:00
0       2018-07-17 18:20:00
1       2018-07-17 18:30:00
2       2018-07-17 18:40:00
3       2018-07-17 18:50:00
4       2018-07-17 19:00:00
               ...
3825    2019-08-14 16:20:00
3826    2019-08-14 16:30:00
3827    2019-08-14 16:40:00
3828    2019-08-14 16:50:00
3829    2019-08-14 17:00:00
Name: timestamp, Length: 3830, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 06:20:00
0      2018-07-19 09:30:00
1      2018-07-19 09:40:00
2      2018-07-19 09:50:00
3      2018-07-19 10:00:00
4      2018-07-19 10:10:00
              ...
848    2018-07-25 06:50:00
849    2018-07-25 07:00:00
850    2018-07-25 07:10:00
851    2018-07-25 07:20:00
852    2018-07-25 07:30:00
Name: timestamp, Length: 853, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 06:10:00
0        2018-07-17 17:40:00
1        2018-07-17 17:50:00
2        2018-07-17 18:00:00
3        2018-07-17 18:10:00
4        2018-07-17 18:20:00
                ...
13315    2018-11-18 13:00:00
13316    2018-11-18 13:10:00
13317    2018-11-18 13:20:00
13318    2018-11-18 13:30:00
13319    2018-11-18 13:40:00
Name: timestamp, Length: 13320, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 06:50:00
0       2018-08-10 07:10:00
1       2018-08-10 07:20:00
2       2018-08-10 07:30:00
3       2018-08-10 07:40:00
4       2018-08-10 07:50:00
               ...
6894    2019-07-06 07:50:00
6895    2019-07-06 08:00:00
6896    2019-07-06 08:10:00
6897    2019-07-06 08:20:00
6898    2019-07-06 08:30:00
Name: timestamp, Length: 6899, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-07-01 08:10:00
0        2018-07-16 12:40:00
1        2018-07-16 12:50:00
2        2018-07-16 13:00:00
3        2018-07-16 13:10:00
4        2018-07-16 13:20:00
                ...
24241    2019-09-19 01:20:00
24242    2019-09-19 01:30:00
24243    2019-09-19 01:40:00
24244    2019-09-19 01:50:00
24245    2019-09-19 02:00:00
Name: timestamp, Length: 24246, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-19 09:00:00
0      2018-07-15 16:10:00
1      2018-07-15 16:20:00
2      2018-07-15 16:30:00
3      2018-07-15 16:40:00
4      2018-07-15 16:50:00
              ...
740    2018-08-26 13:50:00
741    2018-08-26 14:00:00
742    2018-08-26 14:10:00
743    2018-08-26 14:20:00
744    2018-08-26 14:30:00
Name: timestamp, Length: 745, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2019-07-26 06:30:00
0      2019-10-03 10:40:00
1      2019-10-03 10:50:00
2      2019-10-03 11:00:00
3      2019-10-03 11:10:00
4      2019-10-03 11:20:00
              ...
608    2019-10-07 16:00:00
609    2019-10-07 16:10:00
610    2019-10-07 16:20:00
611    2019-10-07 16:30:00
612    2019-10-07 16:40:00
Name: timestamp, Length: 613, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-01 09:20:00
0       2018-07-17 18:50:00
1       2018-07-17 19:00:00
2       2018-07-17 19:10:00
3       2018-07-17 19:20:00
4       2018-07-17 19:30:00
               ...
1641    2018-08-26 13:50:00
1642    2018-08-26 14:00:00
1643    2018-08-26 14:10:00
1644    2018-08-26 14:20:00
1645    2018-08-26 14:30:00
Name: timestamp, Length: 1646, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-07-01 08:20:00
0       2018-09-29 14:50:00
1       2018-09-29 15:00:00
2       2018-09-29 15:10:00
3       2018-09-29 15:20:00
4       2018-09-29 15:30:00
               ...
5817    2019-07-26 15:50:00
5818    2019-07-26 16:00:00
5819    2019-07-26 16:10:00
5820    2019-07-26 16:20:00
5821    2019-07-26 16:30:00
Name: timestamp, Length: 5822, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-07-01 07:40:00
0      2018-08-25 07:40:00
1      2018-08-25 07:50:00
2      2018-08-25 08:00:00
3      2018-08-25 08:10:00
4      2018-08-25 08:20:00
              ...
181    2018-08-26 13:50:00
182    2018-08-26 14:00:00
183    2018-08-26 14:10:00
184    2018-08-26 14:20:00
185    2018-08-26 14:30:00
Name: timestamp, Length: 186, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []

2018-07-01 08:30:00
0      2018-07-25 14:40:00
1      2018-07-25 14:50:00
2      2018-07-25 15:00:00
3      2018-07-25 15:10:00
4      2018-07-25 15:20:00
              ...
733    2018-10-01 13:20:00
734    2018-10-01 13:30:00
735    2018-10-01 13:40:00
736    2018-10-01 13:50:00
737    2018-10-01 14:00:00
Name: timestamp, Length: 738, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-07-01 08:30:00
0        2018-07-15 17:30:00
1        2018-07-15 17:40:00
2        2018-07-15 17:50:00
3        2018-07-15 18:00:00
4        2018-07-15 18:10:00
                ...
10274    2018-11-18 14:30:00
10275    2018-11-18 14:40:00
10276    2018-11-18 14:50:00
10277    2018-11-18 15:00:00
10278    2018-11-18 15:10:00
Name: timestamp, Length: 10279, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []
2018-06-19 08:30:00
0       2018-07-15 17:40:00
1       2018-07-15 17:50:00
2       2018-07-15 18:00:00
3       2018-07-15 18:10:00
4       2018-07-15 18:20:00
               ...
2204    2019-09-03 11:40:00
2205    2019-09-03 11:50:00
2206    2019-09-03 12:00:00
2207    2019-09-03 12:10:00
2208    2019-09-03 12:20:00
Name: timestamp, Length: 2209, dtype: object
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, DT, baro LEVEL, Date, Time, ms, TEMPERATURE, logger LEVEL, Compensated Level, timestamp]
Index: []